* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 100px;
}
h1 {
  color: white;
}
/* dibaug */
#debug header {
  background-color: rgb(17, 76, 116);
}
.laterali {
  background-color: white;
}

.jumbo {
  background-color: darkcyan;
  min-height: 500px;
}
/* .titolo h1 {
  padding-top: 300px;
} */

.border {
  border: 1px solid red;
}
.alte {
  height: 100px;
}
.text-right {
  text-align: right;
}
.display-4 {
  text-align: center;
}
.portfoglio {
  min-height: 300px;
}

.portfoglio .row {
  margin: 50px;
}
.portfolio {
  min-height: 150px;
  background-color: coral;
}
.alteza {
  margin-bottom: 10px;
}
.alteza {
  min-height: 200px;
}
.red {
  background-color: red;
}
.bluegren {
  background-color: #1794a0;
}
.black {
  background-color: black;
}
.lightblue {
  background-color: lightblue;
}
.blue {
  background-color: blue;
}
.burlywood {
  background-color: burlywood;
}
.start {
  background-color: seagreen;
  min-height: 400px;
}
.contact {
  background-color: darkgray;
  min-height: 500px;
}
.form {
  min-height: 400px;
  background-color: white;
}
.footer-top {
  background-color: rgb(69, 84, 151);
  min-height: 200px;
}
.copyright {
  min-height: 80px;
  background-color: rgb(37, 52, 121);
}

/* img */
.jumbo img {
  width: 300px;
}
.line_star {
  width: 110px;
  height: 3px;
  background-color: white;
}
.jumbo,
.about {
  background-color: #19b495;
  color: white;
}
p {
  padding-bottom: 30px;
}
