* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 100px;
}
h1 .white {
  color: white;
}
/* dibaug */
#debug header {
  background-color: #2f4052;
}
/* .laterali {
  background-color: white;
} */

.jumbo {
  background-color: darkcyan;
  min-height: 500px;
}
/* .titolo h1 {
  padding-top: 300px;
} */

.border {
  border: 1px solid red;
}
.alte {
  height: 100px;
}
.text-right {
  text-align: right;
}
.display-4 {
  text-align: center;
}
.portfoglio {
  min-height: 300px;
}

.portfoglio .row {
  margin: 50px;
}
/* .portfolio {
  background-color: coral;
} */
.alteza {
  margin-bottom: 10px;
}
.alteza {
  min-height: 200px;
}
/* .red {
  background-color: red;
}
.bluegren {
  background-color: #1794a0;
}
.black {
  background-color: black;
}
.lightblue {
  background-color: lightblue;
}
.blue {
  background-color: blue;
}
.burlywood {
  background-color: burlywood;
} */
.start {
  background-color: seagreen;
  min-height: 400px;
}
/* .contact {
  background-color: darkgray;
  min-height: 500px;
} */
.form {
  min-height: 400px;
  background-color: white;
}
/* .footer-top {
  background-color: rgb(69, 84, 151);
  min-height: 200px;
}
.copyright {
  min-height: 80px;
  background-color: rgb(37, 52, 121);
} */

/* img */
.jumbo img {
  width: 300px;
}
.line_star {
  width: 110px;
  height: 3px;
  background-color: white;
}
.jumbo,
.about {
  background-color: #19b495;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
p {
  padding-bottom: 30px;
}

.red img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5%;
}

.line_star-b {
  width: 110px;
  height: 3px;
  background-color: black;
}
.green {
  background-color: #1abc9c;
  color: white;
}

footer {
  color: white;
}
.footer-top {
  margin-top: 30px;
  background-color: #3d566e;
  padding-top: 30px;
}
.copyright {
  background-color: #2f4052;
}
.link_green {
  color: #1abc9c;
  text-decoration: none;
}
h4 {
  text-transform: uppercase;
  font-weight: bold;
}
footer i {
  padding: 5px 8px;
  border: 1px solid white;
  border-radius: 100%;
}
.copyright div {
  padding: 10px;
  font-size: 20px;
}
